{{#email-wrapper}}
    {{> header title="Project Invitation"}}
    {{#email-content}}
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="text-align:center;">
            <tbody>

            {{#row}}<span style="color: #777777;">Hello {{@root.first_name}},</span>{{/row}}
            {{spacer}}
            {{#row}}
                <span style="color: #777777;">
                    Your company has been invited to participate in project <strong>{{@root.project_name}}</strong> as a <strong>{{@root.role}}</strong> by <strong>{{@root.from_company_name}}</strong>.
                </span>
            {{/row}}

            {{sign-off}}
            </tbody>
        </table>
    {{/email-content}}
    {{> footer}}
{{/email-wrapper}}
