<header id="section-header" class="akx-header">
    <span>{{stringList.intBankTitle}}</span>
</header>
{{!-- <h5 {{action 'redraw'}} class="text-center pointer">{{stringList.bankId}}</h5> --}}
{{#akx-form name="frm-bank-information" action='' class='col-lg-10 m-auto'}}
    <div class="row align-items-end">
        <div id="grp-bank-name" class="col-6 has-feedback form-group bmd-form-control">
            <label class="bmd-label-floating"  for="input-bank-name">{{stringList.nameLabel}}</label>
            {{input value=changeset.intermediary_bank_name  name='input-bank-name' type='text' class='form-control'}}
            {{validation-feedback errors=changeset.error.intermediary_bank_name.validation}}
        </div>
        <div id="grp-bank-address" class="col-6 has-feedback form-group bmd-form-group">
            <label class="bmd-label-floating"  for="input-bank-address">{{stringList.addressLabel}}</label>
            {{input value=changeset.intermediary_bank_address name='input-bank-address' type='text' class='form-control'}}
            {{validation-feedback errors=changeset.error.intermediary_bank_address.validation}}
        </div>
        <div id="grp-bank-country" class="col-6 has-feedback form-group bmd-form-group">
            <label class="bmd-label-static" for="select-bank-country">{{stringList.countryLabel}}</label>
            {{#x-select
                value=changeset.intermediary_bank_country
                id='select-bank-country'
                name='select-bank-country'
                class='selectpicker w-100'
                data-style="select-with-transition"
                action=(action (mut changeset.intermediary_bank_country))
                disabled=isACH
                as |xs|}}
                {{#xs.option}}Select an option below{{/xs.option}}
                {{#each model.countries as |country|}}
                    {{#xs.option value=country.abbreviation}}{{country.name}}{{/xs.option}}
                {{/each}}
            {{/x-select}}
            {{validation-feedback errors=changeset.error.intermediary_bank_country.validation}}
        </div>
        <div id="grp-bank-city" class="col-6 has-feedback form-group bmd-form-group">
            <label class="bmd-label-floating" for="input-bank-city">{{stringList.cityLabel}}</label>
            {{input value=changeset.intermediary_bank_city type='text' name='input-bank-city' class='form-control'}}
            {{validation-feedback errors=changeset.error.intermediary_bank_city.validation}}
        </div>
        <div id="grp-bank-province" class="col-6 has-feedback form-group bmd-form-group">
            {{#if intBankIsUS}}
                <label class="bmd-label-static" for="select-bank-province">{{stringList.stateProvinceLabel}}</label>
                {{#x-select
                    value=changeset.intermediary_bank_state_province
                    class='selectpicker w-100'
                    id='select-bank-province'
                    name='select-bank-province'
                    data-style="select-with-transition"
                    action=(action (mut changeset.intermediary_bank_state_province))
                    as |xs|}}
                    {{#xs.option}}Select an option below{{/xs.option}}
                    {{#each model.states as |state|}}
                        {{#xs.option value=state.abbreviation}}{{state.name}}{{/xs.option}}
                    {{/each}}
                {{/x-select}}
                {{validation-feedback errors=changeset.error.intermediary_bank_state_province.validation}}
            {{else}}
                <label class="bmd-label-floating" for="input-bank-province">{{stringList.stateProvinceLabel}}</label>
                {{input
                    value=changeset.intermediary_bank_state_province
                    name='input-bank-province'
                    type='text'
                    class='form-control'}}
                {{validation-feedback errors=changeset.error.intermediary_bank_state_province.validation}}
            {{/if}}
        </div>
        <div id="grp-bank-postal-code" class="col-6 has-feedback form-group bmd-form-group">
            <label class="bmd-label-floating" for="input-bank-postal-code">{{stringList.postalCodeLabel}}</label>
            {{input
                value=changeset.intermediary_bank_postal_code
                name='input-bank-postal-code'
                type='text'
                class='form-control'}}
            {{validation-feedback errors=changeset.error.intermediary_bank_postal_code.validation}}
        </div>
        <div id="grp-bank-aba" class="col-6 has-feedback form-group bmd-form-group">
            <label class="bmd-label-floating"  for="input-bank-aba">{{stringList.abaLabel}}</label>
            {{input
                value=changeset.intermediary_bank_code_aba
                name='input-bank-aba'
                type='text'
                class='form-control'}}
            {{validation-feedback errors=changeset.error.intermediary_bank_code_aba.validation}}
        </div>
        {{#unless isACH}}
            <div id="grp-bank-swift" class="col-6 has-feedback form-group bmd-form-group">
                <label class="bmd-label-floating" for="input-bank-swift">{{stringList.swiftLabel}}</label>
                {{input
                    value=changeset.intermediary_bank_code_swift
                    name='input-bank-swift'
                    type='text'
                    class='form-control text-uppercase'}}
                {{validation-feedback errors=changeset.error.intermediary_bank_code_swift.validation}}
            </div>
        {{/unless}}
    </div>
{{/akx-form}}
