<style>
    .file-upload input[type="radio"] {
        opacity: 0;
        position: absolute;
        z-index: -1;
    }

    .file-upload label {
        width: 50%;
        position: relative;
        z-index: 10;
    }

    .file-upload input[type="radio"]:first-child + label {
        border-bottom-left-radius: 4px !important;
        border-top-left-radius: 4px !important;
    }

    .file-upload input[type="radio"]:checked + label {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
    }

    .document-upload .btn-file {
        position: relative;
        display: block;
    }

    .document-upload .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        filter: alpha(opacity=0);
        opacity: 0;
    }
</style>
<div class="viewport viewport-t-pane-secondary viewport-t-pane-secondary-with-toolbar scroll-y">
    <div class="pane-secondary-content">
        <div class="row">
            <div class="form-group col-xs-12 btn-group file-upload" role="group">
                {{akx-radio
                name='type'
                value='file'
                groupValue=type
                label='File Upload'
                labelClass='btn btn-default'
                }}
                {{akx-radio
                name='type'
                value='exemption'
                groupValue=type
                label='Exemption'
                labelClass='btn btn-default'
                }}
            </div>
            {{#if isFile}}
                <div class="col-xs-12">
                    <legend>File Upload</legend>
                </div>
                {{view 'signup-document-upload'
                documentTypes=model.documentTypes
                registration=registration
                }}
            {{else}}
                <legend class="col-xs-12">Exception</legend>
                <div class="col-xs-12 form-group required has-feedback">
                    <label>Document Type</label>
                    {{view 'select'
                    value=document_type
                    content=exemptibleDocuments
                    optionValuePath='content.name'
                    optionLabelPath='content.display_name'
                    prompt=' '
                    class='form-control'}}
                    {{validation-feedback errors=errors.document_type validated=validated}}
                </div>
                <div class="col-xs-12 form-group required has-feedback">
                    <label>Reason for Exemption</label>
                    {{textarea value=exemption_reason class='form-control' placeholder='Exemption Reason'}}
                    {{validation-feedback errors=errors.exemption_reason validated=validated}}
                </div>
            {{/if}}
        </div>
    </div>
</div>
<div class="viewport viewport-bottom navbar-toolbar">
    <div class="pane-actions">
        <ul class="list-h">
            <li>
                <button class="btn btn-success btn-sm navbar-secondary-btn"
                        type="button" {{action 'uploadExemption'}}>Save
                </button>
            </li>
        </ul>
    </div>
</div>
