<style>
    body {
        min-height: 1100px;
    }

    .table tbody tr {
        border-top: 1px solid #f5f5f5;
    }

    .table tbody tr td {
        border: none;
    }

    .bg-gray {
        background-color: #fafafa;
    }

    .bottom-border {
        border-bottom: 1px solid #666;
    }

    tr {
        page-break-inside: avoid;
    }
</style>


<div class="row bottom-border valign-middle">
    <div class="col-xs-8">
        <span style="">{{@root.company.name}}</span><br/>
    </div>
    <div class="col-xs-4" style="text-align:right;">
        {{@root.today}}
    </div>
</div>


<div class="row align-center" style="margin: 25px 0 25px 0;">
    <h3>External Buyers</h3>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-high">
            <thead>
            <tr>
                <th class="col-xs-5">Name</th>
                <th class="col-xs-5">Bank</th>
                <th class="col-xs-2">Country</th>
            </tr>
            </thead>
            <tbody>
            {{#each @root.external.buyers}}
                <tr>
                    <td class="valign-center">
                        {{account_holder}}
                    </td>
                    <td class="valign-center">
                        {{bank_name}}
                    </td>
                    <td class="valign-center">
                        {{bank_country}}
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>

<div class="page-break"></div>

<div class="row align-center" style="margin: 25px 0 25px 0;">
    <h3>External Suppliers</h3>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-high">
            <thead>
            <tr>
                <th class="col-xs-5">Name</th>
                <th class="col-xs-5">Bank</th>
                <th class="col-xs-2">Country</th>
            </tr>
            </thead>
            <tbody>
            {{#each @root.external.suppliers}}
                <tr>
                    <td class="valign-center">
                        {{account_holder}}
                    </td>
                    <td class="valign-center">
                        {{bank_name}}
                    </td>
                    <td class="valign-center">
                        {{bank_country}}
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>

<div class="page-break"></div>

<div class="row align-center" style="margin: 25px 0 25px 0;">
    <h3>Platform Buyers</h3>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-high">
            <thead>
            <tr>
                <th class="col-xs-4">Akirix Account</th>
                <th class="col-xs-8">Name</th>
            </tr>
            </thead>
            <tbody>
            {{#each @root.platform.buyers}}
                <tr>
                    <td class="valign-center">
                        XYZ{{account_number}}
                    </td>
                    <td class="valign-center">
                        {{name}}
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>

<div class="page-break"></div>

<div class="row align-center" style="margin: 25px 0 25px 0;">
    <h3>Platform Suppliers</h3>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-high">
            <thead>
            <tr>
                <th class="col-xs-4">Akirix Account</th>
                <th class="col-xs-8">Name</th>
            </tr>
            </thead>
            <tbody>
            {{#each @root.platform.suppliers}}
                <tr>
                    <td class="valign-center">
                        XYZ{{account_number}}
                    </td>
                    <td class="valign-center">
                        {{name}}
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
