<h2>&nbsp;</h2>
{{#step-group steps=steps currentStep=currentStep as |template show lastStep|}}
    <div class="step-content">
        {{partial template}}
        {{#if show}}
            <div class="form-row my-5">
                <div class="col-12 text-center">
                    {{#confirmation-modal
                        name='btn-delete-invoice'
                        tagName='button'
                        classNames='akx-button'
                        type='button'
                        openModal='cancel'
                        headerTitle=stringList.cancelHeader
                        prompt=stringList.cancelPrompt
                        controller=this
                        data-toggle="modal"
                        data-target="#confirmationModal"
                        action='deleteModel'}}
                        <span class="orange">{{stringList.cancel}}</span>
                    {{/confirmation-modal}}
                    {{#if lastStep}}
                        <button class="btn btn-primary mx-2" {{action 'saveModel'}}>
                            {{stringList.saveInvoice}}
                        </button>
                        {{confirmation-modal
                            tagName='button'
                            classNames='btn btn-primary'
                            openModal='cancel'
                            name='btn-confirm-invoice'
                            html=stringList.sendInvoice
                            headerTitle=stringList.sendHeader
                            prompt=stringList.sendPrompt
                            controller=this
                            data-toggle="modal"
                            data-target="#confirmationModal"
                            action='sendInvoice'}}
                    {{else}}
                        <button name="invoice-next-step-btn" class="btn btn-primary ml-2" {{action 'nextStep'}}>
                            {{stringList.nextStep}}
                        </button>
                    {{/if}}
                </div>
            </div>
        {{/if}}
    </div>
{{/step-group}}
