<table class="table table-hover table-high">
    <thead>
    <tr>
        <th class="col-xs-1">Date</th>
        <th class="col-xs-1"></th>
        <th class="col-xs-7">Title</th>
        <th class="col-xs-1"></th>
        <th class="col-xs-2">User</th>
    </tr>
    </thead>
    <tbody>
    {{#each task in sortedTasks}}
        {{#link-to 'companies.view.tickets.view.tasks.view' task.id tagName='tr' class='list-link'}}
            <td class="valign-middle">
                {{#if task.isOpen}}
                    {{task.str_due_date}}
                {{/if}}

                {{#if task.isPending}}
                    {{task.str_due_date}}
                {{/if}}

                {{#if task.isComplete}}
                    {{task.str_updated_at_date}}
                {{/if}}

            </td>
            <td class="valign-middle">
                {{#if task.isTask}}
                    {{priority-icon task.priority}}
                {{/if}}
                {{sentiment-icon task.sentiment}}
            </td>
            <td class="valign-middle medium">
                {{#if task.isTask}}
                    <i class="fa fa-tasks fa-fw"></i>
                {{/if}}
                {{#if task.isNote}}
                    <i class="fa fa-sticky-note fa-fw"></i>
                {{/if}}

                {{task.title}}<br/>
            </td>
            <td class="valign-middle">
                {{#if task.isTask}}
                    {{task-status-icon task.status}}
                {{/if}}
            </td>
            <td class="valign-middle">
                <span class="small">{{task.uberUser.name}}</span>
            </td>
        {{/link-to}}
    {{/each}}
    </tbody>
</table>

