<div class="viewport viewport-t-pane-secondary viewport-t-pane-secondary-with-toolbar scroll-y">
	<div class="pane-secondary-content">
        <legend>
            <span>New Suspicious Activity Report</span>
        </legend>

        <!-- BEGIN Transaction Section BEGIN -->

        <div class="row">
            <div class="col-md-12">

                <div class="form-group">
                    <legend>
                        <span class="small">Transaction with Suspicious Activities</span>
                    </legend>
                </div>

                {{#unless lookedUp}}
                    <div class="form-group">
                        {{view 'select'
                               value=transaction_type
                               content=transactionTypes
                               prompt='Select Type'
                               optionValuePath='content.val'
                               optionLabelPath='content.label'
                               class='form-control '}}
                    </div>

                    {{#if readyToLookup}}
                        <div class="form-group">
                            {{input value=value
                                    type='text'
                                    class='form-control '
                                    placeholder='Transaction ID'
                                    insert-newline='lookupTransaction'}}
                        </div>

                        <div class="form-group">
                            {{#if hasLookupError}}
                                <ul class="list-h pull-left">
                                    <span class="help-block">{{lookupError}}</span>
                                </ul>
                            {{/if}}
                            <ul class="list-h pull-right">
                                <button {{action 'lookupTransaction'}} class="btn btn-success navbar-secondary-btn" type="button">
                                    Lookup
                                </button>
                            </ul>
                        </div>
                    {{/if}}
                {{/unless}}

                {{#if lookedUp}}

                    {{#each uberSarReport.transactions as |transaction|}}
                        {{uber-sar-transaction transaction=transaction}}
                    {{/each}}

                    <div class="form-group">
                        <ul class="list-h pull-right">
                            <button {{action 'changeTransaction'}} class="btn btn-success navbar-secondary-btn" type="button">
                                Change Transaction
                            </button>
                        </ul>
                    </div>
                {{/if}}
            </div>
        </div>
            <!-- END Transaction Section END -->

            {{#unless defaulted}}

                <!-- BEGIN Activities Section BEGIN -->
                <div class="row">
                    <div class="col-md-12">

                            <div class="form-group">
                                <legend>
                                    <span class="small">Suspicious Activities on Transaction</span>
                                </legend>
                            </div>

                            {{#each uberSarReport.activities as |activity activity-id|}}
                                {{#uber-sar-activity uberSarReport=uberSarReport activity=activity activity-id=activity-id appController=controllers.application disabled=false as |title|}}
                                    <div class="panel-heading">
                                        <div class="row pointer">
                                            <a data-toggle="collapse" data-target="#activity-{{activity-id}}" class="collapsed" style="display:none;"></a>
                                            <a {{action "togglePanel" activity-id}}>
                                                <div class="col-md-10">
                                                    <span >{{title}}</span>
                                                </div>
                                                <div class="col-md-2">
                                                    <a {{action "deleteActivity" activity bubble=false}}>
                                                        <i class="text-rose fa fa-minus-circle fa-fw"></i>
                                                    </a>
                                                    <i class="fa fa-chevron-down pull-right"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                {{/uber-sar-activity}}
                            {{/each}}

                            <div class="form-group">
                                <ul class="list-h pull-right">
                                    <button {{action 'addActivity'}} class="btn btn-success navbar-secondary-btn" type="button">
                                        Add Activity
                                    </button>
                                </ul>
                            </div>
                    </div>
                </div>

                <!-- END Activities Section END -->

                <!-- BEGIN Report Meta Section BEGIN -->

                <div class="row">
                    <div class="col-md-12">

                        <div class="form-group">
                            <legend>
                                <span class="small">Report Metadata</span>
                            </legend>
                        </div>

                        <div class="form-group">
                            <label>Akirix Notes <span class="x-small">Internal Use Only</span> </label>
                            {{textarea value=uberSarReport.notes class="form-control  width-full" rows="6"}}
                        </div>
                    </div>
                </div>

                <!-- END Report Meta Section END -->
            {{/unless}}
    </div>
</div>
<div class="viewport viewport-bottom navbar-toolbar pull-right">
    <div class="pane-actions">
        <ul class="list-h pull-left">
            <button {{action 'goBack'}} class="btn btn-default navbar-secondary-btn" type="button">Cancel
            </button>
        </ul>
        <ul class="list-h pull-right">
            <li>
                <button {{action 'createReport'}} class="btn btn-primary btn-sm navbar-secondary-btn" type="submit">
                    Save
                </button>
            </li>
        </ul>
    </div>
</div>
