{{#akx-form isLocked=isLocked}}
    <div class="viewport viewport-t-pane-secondary viewport-t-pane-secondary-with-toolbar scroll-y">
        <div class="pane-secondary-content">
            <fieldset>
                {{#if templates}}
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label>Use Template</label>
                            {{view 'select'
                            value=template_id
                            content=sortedTemps
                            optionValuePath='content.id'
                            optionLabelPath='content.getName'
                            prompt='Select a template'
                            class='form-control'
                            }}
                        </div>
                    </div>
                {{/if}}


                <div class="row top-buffer">
                    <div class="form-group col-md-6 required has-feedback">
                        <label>Bank Name</label>
                        {{input value=wire.bank_name type='text' class='form-control' placeholder='Bank Name'}}
                        {{validation-feedback errors=errors.wire.bank_name validated=validated}}
                    </div>

                    <div class="form-group col-md-6 required has-feedback">
                        <label>Bank Country</label>
                        {{view 'select'
                        value=wire.bank_country
                        content=controllers.application.countries
                        optionValuePath='content.abbreviation'
                        optionLabelPath='content.name'
                        prompt='Select a country'
                        class='form-control'}}
                        {{validation-feedback errors=errors.wire.bank_country validated=validated}}
                    </div>

                    <div class="form-group col-md-6 has-feedback">
                        <label>SWIFT</label>
                        {{input value=wire.code_swift type='text' class='form-control' placeholder='SWIFT Code'}}
                        {{validation-feedback errors=errors.wire.code_swift validated=validated}}
                    </div>

                    <div class="form-group col-md-6 has-feedback">
                        <label>ABA / Routing</label>
                        {{input value=wire.code_aba type='text' class='form-control' placeholder='ABA / Routing Number'}}
                        {{validation-feedback errors=errors.wire.code_aba validated=validated}}
                    </div>
                </div>


                <div class="row top-buffer">
                    <div class="form-group col-md-6 required has-feedback">
                        <label>Account Holder</label>
                        {{input value=wire.account_holder type='text' class='form-control' placeholder='Account Holder'}}
                        {{validation-feedback errors=errors.wire.account_holder validated=validated}}
                    </div>

                    <div class="form-group col-md-6 has-feedback">
                        <label>Account Number</label>
                        {{input value=wire.account_number type='text' class='form-control' placeholder='Account Number'}}
                        {{validation-feedback errors=errors.wire.account_number validated=validated}}
                    </div>
                </div>

                <div class="row top-buffer">
                    <div class="form-group col-md-6 required has-feedback">
                        <label>Account</label>
                        {{view 'select'
                        value=wire.account_id
                        content=accounts
                        optionValuePath='content.id'
                        optionLabelPath='content.str_long_name'
                        prompt='Select an account'
                        class='form-control'
                        selection=account}}
                        {{validation-feedback errors=errors.wire.account_id validated=validated}}
                    </div>

                    <div class="form-group col-md-6 required has-feedback">
                        <label>Expected Wire Amount</label>
                        {{formatted-number realValue=wire.amount type='text' class='form-control' placeholder='0.00'}}
                        {{validation-feedback errors=errors.wire.amount validated=validated}}
                    </div>
                </div>

                <div class="row top-buffer">
                    <div class="form-group col-md-6 required has-feedback">
                        <label>Method</label>
                        {{view 'select'
                        value=wire.method
                        content=wireMethods
                        optionValuePath='content.val'
                        optionLabelPath='content.label'
                        prompt='Select method'
                        class='form-control'
                        }}
                        {{validation-feedback errors=errors.wire.method validated=validated}}
                    </div>

                    <div class="form-group col-md-6 required has-feedback">
                        <label>Wire Fee</label>
                        {{input value=wire.fee type='text' class='form-control' placeholder='0.00' }}
                        {{validation-feedback errors=errors.wire.fee validated=validated}}
                    </div>
                </div>


            </fieldset>
        </div>
    </div>
    <div class="viewport viewport-bottom navbar-toolbar">
        <div class="pane-actions">
            <ul class="list-h">
                <li>
                    <button {{action 'goBack'}} class="btn btn-default navbar-secondary-btn btn-sm" type="button">
                        Cancel
                    </button>
                </li>
            </ul>
            <ul class="list-h pull-right">
                <li>
                    <button {{action 'confirmation'}} class="btn btn-primary navbar-secondary-btn btn-sm" type="button">
                        Confirm Wire
                    </button>
                </li>
            </ul>
        </div>
    </div>
{{/akx-form}}
