<div class="document-upload row">
    <div class="col-xs-12 file-queue">
        {{#each file in view.fileQueue}}
            <div class="processing_document row natural">
                <div class="col-xs-10 form-group">
                    <h4>{{{file-icon file.type}}}&nbsp;{{file.name}}</h4>
                </div>
                <div class="col-xs-2 form-group text-right">
                    <button class="btn btn-danger btn-sm" type="button" {{action 'remove' file target=view}}><i
                            class="fa fa-trash-o"></i></button>
                </div>
                <div class="col-xs-12">
                    <label>Document Type</label>
                    {{view 'select'
                    value=file.documentType
                    content=view.documentTypes
                    optionValuePath='content.name'
                    optionLabelPath='content.display_name'
                    prompt=' '
                    class='form-control form-group'}}
                </div>
                <div class="progress">
                    <div class="progress-bar"
                         role="progressbar" {{bind-attr aria-valuenow="file.progress" style="file.style"}}
                         aria-valuemin="0" aria-valuemax="100" style="">
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    <div class="col-xs-6 upload-area form-group">
        <button type="button" class="btn btn-default btn-file">
            Browse
            <input type="file" class="file-button" name="file" multiple="">
        </button>
    </div>
    {{#if view.fileQueue}}
        <div class="col-xs-6 form-group text-right">
            <button type="button" class="btn btn-success" {{action 'upload' target=view}}><i class="fa fa-upload"></i>&nbsp;Upload
            </button>
        </div>
    {{/if}}
</div>
