{{#akx-form action='createAnnouncement' isLocked=isLocked}}
    <div class="viewport viewport-t-pane-secondary viewport-t-pane-secondary-with-toolbar scroll-y">
        <div class="pane-secondary-content">
            <div class="col-xs-12">
                <legend>
                    New Announcement
                </legend>
            </div>

            <div class="col-xs-12 form-group">
                <div class="form-group col-xs-6 has-feedback">
                    <label>Name</label>
                    {{input value=announcement.name type='name' class='form-control' placeholder='Announcement Name'}}
                    {{validation-feedback errors=errors.announcement.name validated=validated}}
                </div>
            </div>

            <div class="col-xs-12 form-group">

                <div class="form-group col-xs-6 has-feedback">
                    <label>Publish From Date</label>
                    {{date-picker value=announcement.publish_from class='form-control' placeholder='Date From' valueFormat='YYYY-MM-DD' allowBlank=true}}
                    {{validation-feedback errors=errors.announcement.publish_from validated=validated}}
                </div>

                <div class="form-group col-xs-6 has-feedback">
                    <label>Publish To Date</label>
                    {{date-picker value=announcement.publish_to class='form-control' placeholder='Date To' valueFormat='YYYY-MM-DD' allowBlank=true}}
                    {{validation-feedback errors=errors.announcement.publish_to validated=validated}}
                </div>

            </div>

            <div class="row">
                <div class="form-group col-xs-12">
                    <a href="https://guides.github.com/features/mastering-markdown" target="_blank">Markdown Syntax Guide</a>
                </div>
            </div>
            <div class="col-xs-12 form-group has-feedback">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a style="background-color: inherit !important" href="#content" aria-controls="home" role="tab" data-toggle="tab">Content</a></li>
                    <li role="presentation"><a style="background-color: inherit !important" href="#preview" aria-controls="profile" role="tab" data-toggle="tab">Preview Content</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="content">
                        <br>
                        <div class="col-xs-12 form-group has-feedback">
                            <label>Content</label>
                            {{textarea value=announcement.notes class="form-control width-full" rows="15"}}
                            {{validation-feedback errors=errors.announcement.notes validated=validated}}
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="preview">
                        <br>
                        <div class="col-xs-12 form-group">
                            {{{akx-markdown-preview markdownContent=announcement.notes}}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="viewport viewport-bottom navbar-toolbar">
        <div class="pane-actions">
            <ul class="list-h">
                <li>
                    <button class="btn btn-default btn-sm navbar-secondary-btn" {{action 'goBack'}}>
                        Cancel
                    </button>
                </li>
            </ul>

            <ul class="list-h pull-right">
                <li>
                    <button class="btn btn-primary btn-sm navbar-secondary-btn" type="submit">
                        Add
                    </button>
                </li>
            </ul>
        </div>
    </div>
{{/akx-form}}