<legend>Recalled ACH Wires</legend>
{{#if wires}}
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="col-xs-1">Updated Date</th>
            <th class="col-xs-2">Created Date</th>
            <th class="col-xs-2">Name</th>
            <th class="col-xs-2">Company</th>
            <th class="col-xs-2">Bank</th>
            <th class="col-xs-2">Amount</th>
            <th class="col-xs-1">Status</th>
        </tr>
        </thead>
        <tbody>

        {{#each wire in wires}}
            {{#link-to 'dashboard.ach-recall.view' wire.id tagName='tr' class='list-link'}}
                <td class="small valign-middle">
                    <strong>{{wire.str_updated_at_date}}</strong><br/>
                    {{wire.str_updated_at_time}}
                </td>
                <td class="valign-middle">
                    {{wire-type-icon wire.type}} W-{{wire.name}}<br/>
                    {{wire-method-icon wire.method wire.speedwire}}<br/>
                    <span class="small text-gray"><i class="fa fa-level-up fa-fw"></i> {{wire.bankRoute.name}}</span>
                </td>
                <td class="valign-middle">
                    {{wire.company.name}}<br/>
                    XYZ{{wire.company.account_number}}
                </td>
                <td>
                    <span class="medium">{{wire.account_holder}}</span><br/>
                    <span class="small"><i class="fa fa-university fa-fw"></i>{{country-flag wire.bank_country}} {{wire.bank_name}}
                        ({{wire.account_number}})</span>
                </td>
                <td class="large valign-middle">
                    {{{wire.str_sign_color}}} {{{wire.currency.symbol}}}{{wire.str_amount}}
                </td>
                <td class="medium valign-middle">
                    {{wire-status-icon wire.status}}
                </td>
            {{/link-to}}
        {{/each}}
        </tbody>
    </table>
{{else}}
    <div class="align-center valign-middle text-gray-light" style="padding: 100px; background-color: #f2f4f5; ">
        No New Incoming Wires
    </div>
{{/if}}
