<div class="side-panel-content">
    <header id="section-header" class="akx-header">
        <span>{{model.wireTemplate.getName}}</span>
    </header>
    {{!-- Beneficiary --}}
    <div class="row mt-5">
        <div class="col-12">
            <h3><i class="akx-icon akx-account-holder"></i> {{model.wireTemplate.account_holder}}</h3>
        </div>
        <div class="col-6">
            <p>
                {{model.wireTemplate.account_holder_address}}
                {{model.wireTemplate.account_holder_city}}
                {{find-state model.wireTemplate.account_holder_state_province model.states model.wireTemplate.account_holder_country}}
                {{model.wireTemplate.account_holder_postal_code}}
                {{find-country model.wireTemplate.account_holder_country model.countries}}
            </p>
        </div>
        <div class="col-6">
            {{#if model.wireTemplate.account_holder_dob}}
                <p>
                    <b>{{stringList.dob}}:</b> {{format-date model.wireTemplate.account_holder_dob locale=locale timeZone='UTC'}}
                </p>
            {{/if}}
            {{#if model.wireTemplate.account_holder_nationality}}
                <p>
                    <b>{{stringList.nationality}}:</b> {{find-country model.wireTemplate.account_holder_nationality model.countries}}
                </p>
            {{/if}}
            {{#if model.wireTemplate.account_number}}
                <p>
                    <b>{{stringList.accountNumber}}:</b> {{model.wireTemplate.account_number}}
                </p>
            {{/if}}
            {{#if model.wireTemplate.account_iban}}
                <p>
                    <b>{{stringList.iban}}:</b> {{model.wireTemplate.account_iban}}
                </p>
            {{/if}}
            <p><b>{{stringList.purpose}}:</b> {{model.wireTemplate.purpose}}</p>
        </div>
    </div>
    {{!-- Bank --}}
    <div class="row mt-3">
        <div class="col-12">
            <h3><i class="akx-icon akx-external-bank"></i> {{model.wireTemplate.bank_name}}</h3>
        </div>
        <div class="col-6">
            <p>
                {{model.wireTemplate.bank_address}}
                {{model.wireTemplate.bank_city}}
                {{find-state model.wireTemplate.bank_state_province model.states model.wireTemplate.bank_country}}
                {{model.wireTemplate.bank_postal_code}}
                {{find-country model.wireTemplate.bank_country model.countries}}
            </p>
        </div>
        <div class="col-6">
            <p><b>{{stringList.method}}:</b> {{model.wireTemplate.strMethod}}</p>
            {{#if model.wireTemplate.code_swift}}
                <p><b>{{stringList.swift}}:</b> {{model.wireTemplate.code_swift}}</p>
            {{/if}}
            {{#if model.wireTemplate.code_aba}}
                <p><b>{{stringList.aba}}:</b> {{model.wireTemplate.code_aba}}</p>
            {{/if}}
            {{#if model.wireTemplate.code_irc}}
                <p><b>{{stringList.irc}}:</b> {{model.wireTemplate.code_irc}}</p>
            {{/if}}
        </div>
    </div>
    {{!-- Int Bank --}}
    {{#if model.wireTemplate.hasIntermediary}}
        <div class="row mt-3">
            <div class="col-12">
                <h3>
                    <i class="akx-icon akx-external-bank"></i>
                    {{model.wireTemplate.intermediary_bank_name}}
                </h3>
            </div>
            <div class="col-6">
                <p>
                    {{model.wireTemplate.intermediary_bank_address}}
                    {{model.wireTemplate.intermediary_bank_city}}
                    {{find-state model.wireTemplate.intermediary_bank_state_province model.states model.wireTemplate.intermediary_bank_country}}
                    {{model.wireTemplate.intermediary_bank_postal_code}}
                    {{find-country model.wireTemplate.intermediary_bank_country model.countries}}
                </p>
            </div>
            <div class="col-6">
                <p><b>{{stringList.method}}:</b> {{model.wireTemplate.strMethod}}</p>
                {{#if model.wireTemplate.intermediary_bank_code_swift}}
                    <p><b>{{stringList.swift}}:</b> {{model.wireTemplate.intermediary_bank_code_swift}}</p>
                {{/if}}
                {{#if model.wireTemplate.intermediary_bank_code_aba}}
                    <p><b>{{stringList.aba}}:</b> {{model.wireTemplate.intermediary_bank_code_aba}}</p>
                {{/if}}
                {{#if model.wireTemplate.code_irc}}
                    <p><b>{{stringList.irc}}:</b> {{model.wireTemplate.code_irc}}</p>
                {{/if}}
            </div>
        </div>
    {{/if}}
    {{!-- Notes --}}
    <div class="pt-3"></div>
    {{#if model.wireTemplate.notes}}
        <hr class="border-bottom">
        <p>{{model.wireTemplate.notes}}</p>
        <hr class="border-bottom">
    {{/if}}
</div>
<div class="action-footer">
    <div class="row pt-2">
        <div class="col-12 text-center">
            {{#confirmation-modal
                tagName='button'
                classNames='akx-button'
                type='button'
                openModal='cancel'
                headerTitle=stringList.deleteHeader
                prompt=stringList.deletePrompt
                controller=this
                data-toggle="modal"
                data-target="#confirmationModal"
                context=model
		        name='view-template-delete'
                action='deleteTemplate'}}
                <span class="orange">{{stringList.deleteTemplate}}</span>
            {{/confirmation-modal}}
            <button class="btn btn-primary ml-2" name="view-template-edit" {{action 'edit'}}>
                {{stringList.edit}}
            </button>
        </div>
    </div>
</div>
