<div class="pane-primary-content">
    {{advanced-search searchParams=searchParams parentController=this periodFrom=period_from periodTo=period_to}}
    {{page-numbers content=content}}
    <table class="table table-hover table-high">
        <thead>
        <tr>
            <th class="col-md-1">Date</th>
            <th class="col-md-2">Name</th>
            <th class="col-md-2">Company</th>
            <th class="col-md-2">Base Currency</th>
            <th class="col-md-2">Counter Currency</th>
            <th class="col-md-2">Rates</th>
            <th class="col-md-1 align-center">Status</th>
        </tr>
        </thead>
        <tbody>
        {{#each item in model}}
            {{#link-to 'fx-requests.index.view' item.id tagName='tr' class='list-link'}}
                <td class="small valign-middle">
                    <strong>{{item.str_updated_at_date}}</strong><br/>
                    {{item.str_updated_at_time}}
                </td>
                <td class="valign-middle">
                    FX-{{item.name}}<br/>
                    <span class="small">{{item.str_type}}</span>
                </td>
                <td class="valign-middle">
                    {{item.company.name}}<br/>
                    <span class="small">XYZ{{item.company.account_number}}</span>
                </td>
                <td class="valign-middle large">
                    {{{item.baseCurrency.symbol}}}{{item.str_base_amount}}
                </td>
                <td class="valign-middle large">
                    {{{item.counterCurrency.symbol}}}{{item.str_counter_amount}}
                </td>
                <td class="valign-middle">
                    <span class="medium">Customer Rate: {{item.str_customer_rate}}</span><br/>
                    <span class="small">Base Rate: {{item.str_base_rate}}</span>
                </td>
                <td class="col-md-1 valign-middle align-center">
                    {{fx-status-icon item.status}}
                </td>
            {{/link-to}}
        {{/each}}

        </tbody>
    </table>

    {{page-numbers content=content}}
</div>
