<div id="reset-page" class="login">
   <header>
        <img src="/assets/akirix-logo.svg" alt="Logo">
    </header>
    <div>
        <h3 class="text-center">{{stringList.reset}}</h3>
        <div>
            <p class="text-center">{{stringList.resetHelp}}</p>
            {{#akx-form name="reset" action='reset' isLocked=isLocked}}
                <div class="form-group bmd-form-group">
                    <label for="reset-password" class="bmd-label-floating">{{stringList.password}}</label>
                    {{input type='password' name="reset-password" value=changeset.password class='form-control'}}
                </div>
                <div class="has-feedback form-group bmd-form-group">
                    <label for="reset-password-confirmation" class="bmd-label-floating">{{stringList.confirmation}}</label>
                    {{input type='password' name="login-password" value=changeset.confirmation class='form-control'}}
                    {{validation-feedback errors=changeset.error.confirmation.validation}}
                </div>
                <button type="submit" name="reset-submit" class="btn btn-primary w-100 mt-4">{{stringList.submit}}</button>
            {{/akx-form}}
            <div class="links">
                {{#link-to 'login'}}{{stringList.logIn}}{{/link-to}}
            </div>
        </div>
    </div>
</div>