<div class="viewport viewport-t-pane-secondary viewport-t-pane-secondary-with-toolbar scroll-y">
    {{#if model.transaction.model}}
        {{slide-task-list model=model.transaction.model model_id=model.transaction.model_id
                          company_id=model.transaction.company_id}}
    {{else}}
        {{slide-task-list model='Transaction' model_id=model.transaction.id company_id=model.transactioncompany_id}}
    {{/if}}

    <div class="pane-secondary-content">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <span class="text-rose bold">
                    W-{{model.wire.name}}
                </span>
                <br/>
                <span class="text-rose">
                    WITHDRAWAL: {{model.wire.str_method}} <i class="fa fa-level-up fa-fw"></i> {{model.wire.bankRoute.name}}
                </span>
            </div>
            <div class="panel-body">
                <div style="height: 20px;"></div>
                <div class="x-large align-center">{{model.wire.account_holder}}</div>
                <div class="align-center">
                    <ul class="list-h small text-gray-dark">
                        {{#if model.wire.account_number}}
                            <li><strong>Account #:</strong> {{model.wire.account_number}}</li>
                        {{/if}}
                        {{#if model.wire.account_iban}}
                            <li><strong>IBAN:</strong> {{model.wire.account_iban}}</li>
                        {{/if}}
                    </ul>
                </div>
                <div style="height: 10px;"></div>
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>
                <div style="height: 10px;"></div>
                <div class="row">
                    <div class="col-md-6">
                        <span class="large"><i class="fa fa-university"></i> {{model.wire.bank_name}}</span><br/>
                        {{#if model.wire.bank_address}}{{model.wire.bank_address}}<br/>{{/if}}
                        {{#if model.wire.bank_city}}{{model.wire.bank_city}}{{/if}}
                        {{#if model.wire.bank_state_province}}, {{model.wire.bank_state_province}}{{/if}}
                        {{#if model.wire.bank_postal_code}} {{model.wire.bank_postal_code}}{{/if}}
                        <br/>
                        {{#if model.wire.bank_country}}{{model.wire.bank_country}} {{country-flag
                                model.wire.bank_country}}
                            <br/>{{/if}}
                        {{#if model.wire.bank_phone}}{{model.wire.bank_phone}}<br/>{{/if}}
                    </div>
                    <div class="col-md-6">
                        {{#if wire.code_swift}}<strong>SWIFT:</strong> {{wire.code_swift}}<br/>{{/if}}
                        {{#if wire.code_aba}}<strong>ABA / Routing #:</strong> {{wire.code_aba}}<br/>{{/if}}
                        {{#if wire.code_irc}}<strong>IRC:</strong> {{wire.code_irc}}<br/>{{/if}}
                    </div>
                </div>
                <div style="height: 10px;"></div>
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>
                {{#if model.wire.notes}}
                    <div style="height: 10px;"></div>
                    <div class="row">
                        <div class="col-md-12">
                            {{model.wire.notes}}
                        </div>
                    </div>
                    <div style="height: 10px;"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <hr>
                        </div>
                    </div>
                {{/if}}
                <div style="height: 10px;"></div>
                <div class="row">
                    <div class="col-md-6 large text-rose">
                        {{model.wire.account.name}}
                    </div>
                    <div class="col-md-6 large align-right text-rose">
                        {{{model.wire.currency.symbol}}}{{model.wire.str_amount}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 small">
                        Fee
                    </div>
                    <div class="col-md-6 small align-right">
                        {{{model.wire.currency.symbol}}}{{model.wire.fee}}
                    </div>
                </div>
                <div style="height: 20px;"></div>
            </div>
            {{#if model.wire.isDone}}
                <div class="panel-footer text-center">
                    Created On {{model.wire.str_created_at_date}} {{model.wire.str_created_at_time}}<br/>
                    Completed On {{model.wire.str_updated_at_date}} {{model.wire.str_updated_at_time}}<br/>
                    Confirmation: {{model.wire.confirmation}}
                </div>
            {{/if}}
        </div>
    </div>
</div>
<div class="viewport viewport-bottom navbar-toolbar">
    <div class="pane-actions">
        <ul class="list-h">
            <button {{action 'goBack'}} class="btn btn-default navbar-secondary-btn btn-sm" type="button">Back
            </button>
        </ul>
        <ul class="list-h pull-right">
            <li>
            </li>
        </ul>
    </div>
</div>