<div class="viewport viewport-t-pane-secondary viewport-t-pane-secondary-with-toolbar scroll-y">
    {{#if model.transaction.model}}
        {{#if model.transaction.parent_id}}
            {{slide-task-list model=model.transaction.model model_id=model.transaction.parent_id
                              company_id=model.transaction.company_id}}
        {{else}}
            {{slide-task-list model=model.transaction.model model_id=model.transaction.model_id
                              company_id=model.transaction.company_id}}
        {{/if}}
    {{else}}
        {{slide-task-list model='Transaction' model_id=model.transaction.id company_id=model.transactioncompany_id}}
    {{/if}}
    <div class="pane-secondary-content">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <span class="text-blue bold">
                    {{#if model.charge}}
                        <span class="large">{{model.charge.title}}</span><br/>
                        {{#if model.charge.isOneTime}}
                            <span class="small">One Time Charge</span>
                        {{else}}
                            <span class="small">Recurring Every {{model.frequency}} {{model.frequency_type}}</span>
                        {{/if}}
                    {{else}}
                    <span class="large">Fee</span>
                    {{/if}}
                </span>
            </div>
            <div class="panel-body">
                <div style="height: 20px;"></div>
                <div class="large align-center">
                    {{#unless model.charge}}
                        {{model.transaction.fromAccount.name}}
                    {{/unless}}
                </div>
                <div style="height: 20px;"></div>
                {{#unless model.charge}}
                    <div class="bold align-center">To</div>
                {{/unless}}
                <div style="height: 20px;"></div>
                <div class="align-center">
                    {{#if model.charge}}
                        {{model.charge.notes}}
                    {{else}}
                        <span class="large">{{model.transaction.toAccount.name}}</span>
                    {{/if}}
                </div>
                <div style="height: 10px;"></div>
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>
                <div class="col-md-6 large align-left">
                    Amount:
                </div>
                <div class="col-md-6 large align-right">
                    {{{model.transaction.currency.symbol}}}{{model.transaction.str_amount}}
                </div>
                <div style="height: 10px;"></div>
            </div>
        </div>
    </div>
</div>
<div class="viewport viewport-bottom navbar-toolbar">
    <div class="pane-actions">
        <ul class="list-h">
            <button {{action 'goBack'}} class="btn btn-default navbar-secondary-btn btn-sm" type="button">Back
            </button>
        </ul>
        <ul class="list-h pull-right">
            <li>
            </li>
        </ul>
    </div>
</div>


