<div class="col-xs-12">
    <legend>
        {{itemName}}
    </legend>
    {{#if items}}
        <div class="pagination-centered">
            <ul class="pagination">
                {{#if canStepBackward}}
                    <li class="arrow prev enabled-arrow">
                        <a {{action "incrementPage" -1}}>&laquo;</a>
                    </li>
                {{else}}
                    <li class="arrow prev disabled">
                        <a {{action "incrementPage" -1}}>&laquo;</a>
                    </li>
                {{/if}}

                {{#each item in pageItems}}
                    {{#if item.current}}
                        <li class="active page-number">
                            <a>{{item.page}}</a>
                        </li>
                    {{else}}
                        <li class="page-number">
                            <a {{action "pageClicked" item.page}}>{{item.page}}</a>
                        </li>
                    {{/if}}
                {{/each}}

                {{#if canStepForward}}
                    <li class="arrow next enabled-arrow">
                        <a {{action "incrementPage" 1}}>&raquo;</a>
                    </li>
                {{else}}
                    <li class="arrow next disabled">
                        <a {{action "incrementPage" 1}}>&raquo;</a>
                    </li>
                {{/if}}
            </ul>
        </div>
    {{/if}}
    <div>
        <table class="table table-hover">
            {{#if items}}
                <thead>
                <tr>
                    <th class="col-xs-4">Name</th>
                    <th class="col-xs-4">Email</th>
                    <th class="col-xs-4">Mobile Phone</th>
                </tr>
                </thead>
                <tbody>
                {{#each user in items}}
                    {{#link-to 'companies.view.users.view' user.company_id user.id tagName='tr'
                               class='pointer'}}
                        <td class="valign-middle">{{user.first_name}} {{user.last_name}}</td>
                        <td class="valign-middle">{{user.email}}</td>
                        <td class="valign-middle">{{user.phone_mobile}}</td>
                    {{/link-to}}
                {{/each}}
                </tbody>
            {{else}}
                <tbody>
                <tr class="borderless">
                    <td class="text-center text-muted"><h5>No Results</h5></td>
                </tr>
                </tbody>
            {{/if}}
        </table>
    </div>
</div>



