<div class="col-xs-12">
    <legend>
        {{itemName}}
    </legend>
    {{#if items}}
        <div class="pagination-centered">
            <ul class="pagination">
                {{#if canStepBackward}}
                    <li class="arrow prev enabled-arrow">
                        <a {{action "incrementPage" -1}}>&laquo;</a>
                    </li>
                {{else}}
                    <li class="arrow prev disabled">
                        <a {{action "incrementPage" -1}}>&laquo;</a>
                    </li>
                {{/if}}

                {{#each item in pageItems}}
                    {{#if item.current}}
                        <li class="active page-number">
                            <a>{{item.page}}</a>
                        </li>
                    {{else}}
                        <li class="page-number">
                            <a {{action "pageClicked" item.page}}>{{item.page}}</a>
                        </li>
                    {{/if}}
                {{/each}}

                {{#if canStepForward}}
                    <li class="arrow next enabled-arrow">
                        <a {{action "incrementPage" 1}}>&raquo;</a>
                    </li>
                {{else}}
                    <li class="arrow next disabled">
                        <a {{action "incrementPage" 1}}>&raquo;</a>
                    </li>
                {{/if}}
            </ul>
        </div>
    {{/if}}
    <div>
        <table class="table table-hover">
            {{#if items}}
                <thead>
                <tr>
                    <th class="text-center">Status</th>
                    <th>Created</th>
                    <th>Company</th>
                    <th>User</th>
                    <th>Country</th>
                    <th>Current Step</th>
                </tr>
                </thead>
                <tbody>
                {{#each registration in items}}
                    {{#link-to 'registrations.index.preview' registration._id tagName='tr'
                               class="pointer"}}
                        <td class="col-xs-1 small valign-middle text-center">
                            {{registration-status registration.status}}
                        </td>
                        <td class="col-xs-1 small valign-middle">
                            {{mongo-date registration.created html=true}}
                        </td>
                        <td class="col-xs-4 medium valign-middle">
                           {{registration.company.name}}
                        </td>
                        <td class="col-xs-3 small valign-middle">
                            {{registration.user.first_name}} {{registration.user.last_name}}<br/>
                            <strong>{{registration.user.email}}</strong>
                        </td>
                        <td class="col-xs-1 small valign-middle">
                            {{country-flag registration.company.country}}
                            &nbsp;<strong>{{registration.company.country}}</strong>
                        </td>
                        <td class="col-xs-2 small valign-middle">
                            {{registration.currentStep}}
                        </td>
                    {{/link-to}}
                {{/each}}
                </tbody>
            {{else}}
                <tbody>
                <tr class="borderless">
                    <td class="text-center text-muted"><h5>No Results</h5></td>
                </tr>
                </tbody>
            {{/if}}
        </table>
    </div>
</div>

