<div class="pane-primary-content">
    {{#akx-form action='updatePassword' isLocked=isLocked}}
        <fieldset>
            <div class="row">
                <legend>
                    <span>Change Password</span>
                </legend>
            </div>

            <div class="form-group col-md-6 has-feedback">
                <label>New Password</label>
                {{input value=user.password type='password' class='form-control' placeholder='New Password'}}
            </div>

            <div class="form-group col-md-6 has-feedback">
                <label>Confirm New Password</label>
                {{input value=user.passwordConfirmation type='password' class='form-control' placeholder='Confirm New Password'}}
                {{validation-feedback errors=errors.user.passwordConfirmation validated=validated}}
            </div>

            <div class="form-group row col-md-6 has-feedback">
                {{password-strength password=user.password}}
                {{validation-feedback errors=errors.user.password validated=validated}}
            </div>

        </fieldset>
        <ul class="list-h pull-right">
            <li>
                <button class="btn btn-primary" type="submit">Update Password</button>
            </li>
        </ul>
    {{/akx-form}}
</div>