<style>
</style>
<div id="password-reset" class="row">
    <div class="center-column col-sm-12">
        <div class="spacer"></div>
        {{#validator-form action="submit" locked=formLocked }}
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="title">
                        Password Reset
                        <br>
                        <small>Please enter your updated password below</small>
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 form-group has-feedback required">
                    <label class="control-label">Password</label>
                    {{input
                    type="password"
                    class="form-control"
                    value=password}}
                    {{validation-feedback errors=errors.password validated=validated}}
                </div>
                <div class="col-sm-6 form-group has-feedback required">
                    <label class="control-label">Password Confirm</label>
                    {{input
                    type="password"
                    class="form-control"
                    value=passwordConfirmation}}
                    {{validation-feedback errors=errors.passwordConfirmation validated=validated}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 form-group">
                    <hr>
                </div>
                <div class="clear"></div>
                <div class="col-sm-8 center-column">
                    <button {{action 'submit'}} class="btn btn-lg btn-success btn-block" type="submit"><i
                        class="fa fa-floppy-o"></i> Save and Continue
                    </button>
                </div>
            </div>
        {{/validator-form}}
    </div>
</div>
