<style>
    .questions input[type="radio"] {
        opacity: 0;
        position: absolute;
        z-index: -1;
    }

    .questions .question-wrapper {
        display: inline-block;
    }

    .questions label.checked {
        color: #fff;
        background-color: #0a3859;
        border-color: #0a3859;
    }

    .questions .question-wrapper.has-error label {
        border-color: #a94442;
        color: #a94442;
    }

    .questions input[type="radio"]:checked + label {
        color: #fff !important;
        background-color: #0a3859 !important;
        border-color: #0a3859 !important;
    }

    .questions .radio-answer .help-block {
        display: none;
    }
</style>
<div class="row">
    <div class="col-xs-12 center_column">
        {{#validator-form action="submit" locked=formLocked }}
            <div class="questions">
                <div class="row">
                    <h3 class="negative-margin">Company Information</h3>
                    <div class="row border-bottom bottom-buffer"></div>
                </div>
                {{#each inquiry in inquiries}}
                    {{view 'inquiry-input' inquiry=inquiry submitted=submitted}}
                    <div class="row form-group"><hr></div>
                {{/each}}
            </div>

            <div class="row">
                <h3 class="negative-margin">Trading Volume</h3>
                <div class="row border-bottom bottom-buffer"></div>
                <div class="col-xs-12">
                    <p class="text-muted help">
                        Anticipated trading volume in dollar value.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 form-group has-feedback required">
                    <label for="name" class="control-label">In Volume</label>
                    {{view 'select'
                           value=tradingVolume.vol_in_type
                           content=volumeTypes
                           optionValuePath='content.val'
                           optionLabelPath='content.name'
                           prompt='--'
                           class='form-control'}}
                    {{validation-feedback errors=errors.tradingVolume.vol_in_type validated=validated}}
                </div>
                <div class="col-sm-8 form-group has-feedback required">
                    <label for="name" class="control-label">&nbsp;</label>
                    {{view 'select'
                           value=tradingVolume.vol_in_amount
                           content=volumeAmounts
                           optionValuePath='content.val'
                           optionLabelPath='content.name'
                           prompt='--'
                           class='form-control'}}
                    {{validation-feedback errors=errors.tradingVolume.vol_in_amount validated=validated}}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 form-group has-feedback required">
                    <label for="name" class="control-label">Out Volume</label>
                    {{view 'select'
                           value=tradingVolume.vol_out_type
                           content=volumeTypes
                           optionValuePath='content.val'
                           optionLabelPath='content.name'
                           prompt='--'
                           class='form-control'}}
                    {{validation-feedback errors=errors.tradingVolume.vol_out_type validated=validated}}
                </div>
                <div class="col-sm-8 form-group has-feedback required">
                    <label for="name" class="control-label">&nbsp;</label>
                    {{view 'select'
                           value=tradingVolume.vol_out_amount
                           content=volumeAmounts
                           optionValuePath='content.val'
                           optionLabelPath='content.name'
                           prompt='--'
                           class='form-control'}}
                    {{validation-feedback errors=errors.tradingVolume.vol_out_amount validated=validated}}
                </div>
            </div>

            <div class="row margin-top-large">
                <div class="col-sm-6 center-column">
                    <button {{action 'submit'}} type="submit">
                        Save and Continue
                    </button>
                </div>
            </div>
        {{/validator-form}}
    </div>
</div>
