<table class="table table-high table-hover">
    <thead>
    <tr>
        <th class="col-xs-2">Country</th>
        <th class="col-xs-5">Nickname</th>
        <th class="col-xs-5">Bank Info</th>
    </tr>
    </thead>
    <tbody>
    {{#each item in controller}}
        {{#link-to 'companies.view.wire-templates.view' item.id tagName='tr' class='list-link'}}
            <td class="col-md-1 valign-middle">
                <span class="large">{{country-flag item.bank_country}}</span>
            </td>
            <td class="col-md-6 valign-middle">
                <span class="large">{{wire-beneficiary-icon item.beneficiary_type}} {{item.account_holder}}</span>
                {{#if item.name}}
                    <br><span class="small">{{item.name}}</span>
                {{/if}}
            </td>
            <td class="valign-middle">
                <i class="fa fa-university fa-fw"></i>{{country-flag item.bank_country}} {{item.bank_name}}<br/>
                <span class="small">{{item.account_number}}</span>
            </td>
        {{/link-to}}
    {{/each}}
    </tbody>
</table>
