<div class="viewport viewport-h viewport-content viewport-full scroll-y">
    <div style="padding: 40px;">
        <div class="row">
            <div class="form-group col-sm-2 has-feedback">
                {{view 'select'
                value= analytics_option
                content=analyticsOptions
                optionValuePath='content.val'
                optionLabelPath='content.label'
                class='form-control'}}
                {{validation-feedback errors=errors.analytics_option validated=validated}}
            </div>

            <div class="form-group col-sm-2 has-feedback">
                {{date-picker value=period_from class='form-control' placeholder='Date From' valueFormat='YYYY-MM-DD' allowBlank=true}}
                {{validation-feedback errors=errors.period_from validated=validated}}
            </div>

            <div class="form-group col-sm-2 has-feedback">
                {{date-picker value=period_to class='form-control' placeholder='Date To' valueFormat='YYYY-MM-DD' allowBlank=true}}
                {{validation-feedback errors=errors.period_to validated=validated}}
            </div>

            <div class="form-group col-md-3">
                <button class="btn btn-primary btn-sm" {{action "plot" }}>Plot</button>
            </div>
        </div>
        <div class="row" id="chart">
            {{component selectedPlot from_date=plot_from to_date=plot_to currencies=model}}
        </div>
    </div>
</div>









