<div class="viewport viewport-t-pane-secondary viewport-t-pane-secondary-with-toolbar scroll-y">
    {{slide-task-list model='Commission' model_id=commission_id }}
    <div class="pane-secondary-content">
        <p class="contextual-help-header"><span id="i18n-610">Payment History</span></p>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Period From</th>
                <th>Period To</th>
                <th>Rate</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            {{#each item in model}}
                <tr>
                    <td>{{item.str_period_from}}</td>
                    <td>{{item.str_period_to}}</td>
                    <td>{{item.str_rate}}</td>
                    <td>{{{item.currency.symbol}}}{{item.str_amount}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
<div class="viewport viewport-bottom navbar-toolbar">
    <div class="pane-actions">
        <ul class="list-h">
            <li>
                {{#link-to 'affiliates.commissions.index' tagName='button'
                           class='btn btn-default navbar-secondary-btn btn-sm'}}
                    Back{{/link-to}}
            </li>
        </ul>
    </div>
</div>